@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../font/material_icons.woff2) format('woff2');
}

html{
    font-family: 'Roboto';
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.logo img{
    width: 60px;
    height: 60px;
}
.logo p{
    margin-top: -85px;
    margin-left: 80px;
    font-size: 25px;
}
.menuc {
    color: rgb(165, 161, 161);
}
.menucolor{
    background-color: transparent;
    box-shadow: 0px 0px;
}
section{
    padding: 2% 0 2% 0;
}    
.princing{
    margin-top: -115px;
    position:relative;
    background-image: url("../img/princing/headPrincing.jpg");
    background-size:cover;
    overflow: auto;
    height:800px;
}
.title_princing{
    font-size: 160px;
    margin-top: 180px;
     color: #000;
}
.subtitle_princing{
    margin-top: -200px;
    font-size: 30px;
}
.princingsub{
    font-size: 20px;
    text-align:justify;
    color: #000;
    margin-top:-20px;
}
.princingsubb{
    font-size: 25px;
    text-align:;
    color: #000;
    margin-top: 200px;
}
.pricingp{
    font-size: 180px;
    margin-top: -10px;
}
.processp{
    font-size: 50px;
    margin-top: -260px;
}
.getting{
    font-size: 37px;
    margin-top: 0px;
}
.gettingp{
    font-size: 18px;
    margin-top: -30px;
}
.gettingimg img{
    width: 240px;
    margin-top: -30px;
}
#num1{
    margin-top:-900px;
    margin-left: -28px;
    height: 100px;
    position: fixed;
   
}
#num1 img{
    width: 80px;
    
}
#num2{
    margin-top:-1200px;
    margin-left: -20px;
    height: 100px;
    float: left;
    position: fixed;
}
#num2 img{
    width: 80px;
}
#num3{
    margin-top:-1500px;
    margin-left: -28px;
    height: 100px;
    float: left;
    position: fixed;
}
#num3 img{
    width: 80px;
}
#num4{
    margin-top:-1800px;
    margin-left:-20px;
    height: 100px;
    float: left;
    position: fixed;
}
#num4 img{
    width: 80px;
}
.lineas1{
    margin-top: -20px;
}
.lineas1 img{
    width: 20px;
}
.curva{
    margin-top: 20px;
}
.curva img{
    width: 40px;
}
.lienashorizontales{
    margin-top: ;
     margin-left: ;
}
.lienashorizontales img{
    height: 20px;
    float:;
    margin-left: 15px;
}
.curva2{
    margin-left:;
}
.curva2 img{
    width: 40px;
    margin-top: 20px;
    margin-left: -20px;
}
.understand{
    font-size: 30px;
    margin-top: -25px;
}
.understandp{
    font-size: 18px;
    margin-top: -25px;
}
.understandimg img{
    width: 340px;
    margin-top:-20px;
}
.lineas2{
    margin-top: -20px;
}
.lineas2 img{
    width: 20px;
}

.calculating{
    font-size: 35px;
    margin-top: 0px;
}
.calculatingp{
    font-size: 18px;
    margin-top: -35px;
}
.calculatingimg img{
    width: 340px;
   
}
.lineas3{
    margin-top: 0px;
}
.lineas3 img{
    width: 20px;
}

.how_long{
    font-size: 35px;
    margin-top:10px;
}
.how_longp{
    font-size: 18px;
    margin-top: -30px;
}
.how_longimg img{
    width: 340px;
    margin-top:;
}
.lineas4{
    margin-top: 0px;
}
.lineas4 img{
    width: 20px;
}

.how_much{
    font-size: 35px;
    margin-top: px;
    text-align: center;
}
.how_muchp{
    font-size: 20px;
    margin-top:;
}
.how_muchimg img{
    width: 340px;
    margin-top: -20px;
}
.contacto{
    position: relative;
    background-image: url("../img/whoweare/mapa_contacto_backgrund.jpg");
    background-size: cover;
    overflow: auto;
    }
.contact-holder{
    color: aliceblue;
    margin-top: 80px;
}
.input-field{
    background-color: rgba(12,12,12,0.5);
    font-size: 25px;
}
.btn{
    background-color:  rgba(12,12,12,0.5);
}
.icofooter a img{
    width: 40px;
    padding-left: 10px;
    margin-top: 10px
}
.button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: roboto;
  color: #626262;
  font-size: 13px;
  padding: 10px 50px;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 220px;
  border: solid #626262 3px;
  text-decoration: none;
  background: rgba(0,0,0,0.2);
     
}
/* RESPONSIVO */
@media only screen and (max-width: 647px){
    .contact-holder{
        margin-top: 10px;
        text-align: center;
        
    }
    .contact-holder h4{
        font-size: 40px;
        
    }
    .contact-holder h6{
        font-size: 20px;
        
    }
}
@media only screen and (max-width: 1500px){
    .title_princing{
        margin-top: 200px;
        font-size: 120px;
       }
    .subtitle_princing{
        margin-top: -150px;
        float: ;
        font-size: 22px;
    }
}
@media only screen and (max-width: 980px){
    .title_princing{
        text-align: center;
        margin-top: 100px;
        font-size: 170px;
       }
    .subtitle_princing{
        text-align: center;
        margin-top: -230px;
      
        font-size: 23px;
    }
    .princingsubb{
        margin-top: 0px;
    }
    .princingsub{
        margin-top: 0px;
    }
    .pricingp{
        font-size: 150px;
    }
    .processp{
        margin-top: -220px;
    }
    .lineas1, .lineas2, .lineas3, .lineas4, #num1, #num2, #num3, #num4{
        opacity: 0;
    }
}
@media only screen and (max-width: 600px){
     .title_princing{
        text-align: center;
        margin-top: 100px;
        font-size: 90px;
       }
    .subtitle_princing{
        text-align: center;
        margin-top: -120px;
        font-size: 16px;
    }
    .princingsubb{
        margin-top: -10px;
        font-size: 20px;
    }
    .princingsub{
        margin-top: 0px;
        font-size: 17px;
    }
    .pricingp{
        font-size: 90px;
        text-align: center;
    }
    .processp{
        margin-top: -150px;
        text-align: center;
         }
    .lineas1, .lineas2, .lineas3, .lineas4, #num1, #num2, #num3, #num4{
        opacity: 0;
        float: inherit;
      }
      .getting{
        margin-top: -50px;
        font-size: 25px;
       margin-left: 5%;
      }
      .gettingp{
        margin-left: -10%;
        margin-top: -15px;
        text-align: justify;
      }
      .gettingimg img{
        width:80%;
      }
      .understandimg img{
        width: 100% ;
        height: 250px;
      }
      .understand{
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
      }
      .understandp{
        margin-top: 10px;
        font-size: ;
        text-align: justify;
      }
      .calculating{
        margin-top: -20px;
        font-size: 25px;
        text-align: ;
       
      }
      .calculatingp{
        margin-left: -10%;
        margin-top: -15px;
        text-align: justify;
      }
      .calculatingimg img{
        width: 100% ;
        height: 300px;
      }
     .how_longimg img{
       width: 100% ;
      height: 300px;
      margin-left: 30px;
     }
     .how_long{
      margin-top: 10px;
        font-size: 26px;
        text-align: center;
     }
     .how_longp{
      margin-top: 10px;
        
        text-align: justify;
     }
     .how_much{
      margin-top: -120px;
      font-size: 30px;
     }

}

@media only screen and (max-width: 1280px){
  .
}
.lineash{
    margin-top: -45px;
    
}
.lim{
    margin-top: -50px;
}
.lineash img {
 margin-left: 25px;
  width:  ;
  height: 20px;
    
}
