
.button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: roboto;
  color: #626262;
  font-size: 13px;
  padding: 10px 50px;
  height: auto ;
  text-align: center;
  text-transform:uppercase;
  letter-spacing: 1px;
  display: inline-block;
  min-width: ;
  border: solid #626262 3px;
  text-decoration: none;
  background: rgba(0,0,0,0.2);
  font-weight: normal;
  transition: 0.2s;  
     
}
.opss{
    height: 100%;
}
.ops{
    margin-top: 20px;
    z-index: 9999;
    }
.fondo{
    margin-top: -200px;
    z-index: 10;
}

.fondo img{
  width: 1000px;
}
.icono{
    margin-top: -220px;
    
}
.icono img{

    height: 100px;
}
@media only screen and (max-width: 1200px){
    .ops{
        margin-top: 0px;
    }
    .fondo{
        text-align: center;
         margin-top: 10px;
    }
    .icono{
        margin-top: -100px;
        text-align: center;
    }
}